/*
Name: Andy Dao
Assignment: Schedule Web Page
Section: 121
*/

body {
    text-align: center;
    background-color: ivory;
    font-family: Calibri, serif;
}

img {
    border-radius: 30%;
    box-shadow: 0 4px 8px 0 darkslateblue, 0 6px 20px 0 black;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

/* https://css-tricks.com/building-a-conference-schedule-with-css-grid/ utilized to help create this */
.schedule {
    border: 5px grey double;
    width: 75%;
    padding: 1em;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-rows:
        [days] 2em
        [time-0800] 1fr
        [time-0900] 1fr
        [time-1000] 1fr
        [time-1100] 1fr
        [time-1200] 1fr
        [time-1300] 1fr
        [time-1400] 1fr
        [time-1500] 1fr
        [time-1600] 1fr
        [time-1700] 1fr
        [time-1800] 1fr
        [time-1900] 1fr
        [time-2000] 1fr
        [time-2100] 1fr
        [time-2200] 1fr;
    grid-template-columns:
        [times] 10%
        [sunday] 1fr
        [monday] 1fr
        [tuesday] 1fr
        [wednesday] 1fr
        [thursday] 1fr
        [friday] 1fr
        [saturday] 1fr;
    grid-auto-flow: dense;
}

.schedule h3 {
    font-family: "Courier New", serif;
    border-radius: 5px;
    border-width: 5px;

    display:flex;
    align-items: center;
    justify-content: center;
}

.schedule div {
    border-radius: 5px;
    border-width: 0.1em;
    height: 85%;
    width: 90%;
    justify-self: center;

    display:flex;
    align-items: center;
    justify-content: center;
    font-family: "Courier New", serif;
    font-weight: bold;
}

.time-slot {
    font-size: 0.5em;
    text-align: center;
    grid-column: times;
    border-style: ridge;
    height: 60%;
    width: 90%;
    justify-self: center;
    background-color: white;
}

.day-slot {
    font-size: 0.8em;
    grid-row: days;
    border-style: ridge;
    height: 60%;
    width: 90%;
    justify-self: center;
    background-color: khaki;
    color: darkviolet;
    font-style: italic;
    font-weight: bold;
}

.FreeHour {
    background-color: grey;
    border: darkgray solid;
    color: white;
    grid-row: time-1200 / time-1300;
}

#FreeHourTue {
    grid-column: tuesday;
}

#FreeHourThu {
    grid-column: thursday;
}

.CSC2611-121 {
    background-color: cyan;
    color: red;
    border: deepskyblue solid;
}

#CSC2611-121Mon {
    grid-row: time-1000 / time-1100;
    grid-column: monday;
}

#CSC2611-121Tue {
    grid-row: time-1000 / time-1200;
    grid-column: tuesday;
}

#CSC2611-121Fri {
    grid-row: time-1000 / time-1100;
    grid-column: friday;
}

.COM3001-001 {
    background-color: lightsalmon;
    color: slateblue;
    border: darkorange solid;
    grid-row: time-1200 / time-1300;
}

#COM3001-001Mon {
    grid-column: monday;
}

#COM3001-001Wed {
    grid-column: wednesday;
}

#COM3001-001Fri {
    grid-column: friday;
}

.SWE2710-111 {
    background-color: lightgreen;
    color: darkmagenta;
    border: forestgreen solid;
}

#SWE2710-111Tue {
    grid-row: time-0800 / time-1000;
    grid-column: tuesday;
}

#SWE2710-111Wed {
    grid-row: time-0800 / time-0900;
    grid-column: wednesday;
}

#SWE2710-111Fri {
    grid-row: time-0800 / time-1000;
    grid-column: friday;
}

#SWEGroup-C {
    grid-row: time-0900 / time-1000;
    grid-column: wednesday;
}

.MTH2310-003 {
    background-color: violet;
    color: darkred;
    border: darkviolet solid;
    grid-row: time-1500 / time-1600;
}

#MTH2310-003Tue {
    grid-column: tuesday;
}

#MTH2310-003Wed {
    grid-column: wednesday;
}

#MTH2310-003Fri {
    grid-column: friday;
}

.SWE2511-121 {
    background-color: lightyellow;
    color: darkslategray;
    border: gold solid;
}

#SWE2511-121Tue {
    grid-row: time-1400 / time-1500;
    grid-column: tuesday;
}

#SWE2511-121Thu {
    grid-row: time-1300 / time-1500;
    grid-column: thursday;
}

#SWE2511-121Fri {
    grid-row: time-1400 / time-1500;
    grid-column: friday;
}

.RRobotics {
    background-color: orangered;
    border: darkred solid;
}

#EPC {
    grid-row: time-1700 / time-1800;
    grid-column: monday;
}

#RR-EBoard {
    grid-row: time-1700 / time-1800;
    grid-column: thursday;
}

#RRWeekly-Team {
    grid-row: time-1800 / time-2000;
    grid-column: friday;
}

#MEE {
    grid-row: time-1800 / time-1900;
    grid-column: monday;
    background-color: black;
    color: white;
    border: white solid;
}

.Lunabots {
    background-color: darkblue;
    color: white;
    border: black solid;
}

#LunaGeneral {
    grid-row: time-1900 / time-2100;
    grid-column: tuesday;
}

#LunaElecControls {
    grid-row: time-1700 / time-1800;
    grid-column: wednesday;
}

#TTC {
    grid-row: time-1800 / time-1900;
    grid-column: wednesday;
    background-color: indianred;
    border: red solid;
}

.MAIC {
    background-color: deepskyblue;
    border: darkcyan solid;
}

#MAIC-Weekly {
    grid-row: time-1800 / time-1900;
    grid-column: thursday;
}

.Runnin {
    background-color: slategrey;
    border: black double;
    grid-row: time-0800 / time-1000;
}

#RunninMonday {
    grid-column: monday;
}

#RunninThursday {
    grid-column: thursday;
}

a {
    text-decoration: none black;
    color: inherit;
}

a:hover {
    color: rgb(10, 10, 10);
    text-decoration: underline;
}

.empty {
    border-style: ridge;
    height: 90%;
    background-color: white;
}